<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
{% endif %}

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{ theme_url }}/stylesheets/base.css" type="text/css" >
	<link rel="stylesheet" href="{{ theme_url }}/stylesheets/skeleton.css" type="text/css" >
	<link rel="stylesheet" href="{{ theme_url }}/stylesheets/layout.css" type="text/css" >
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	
	<!-- Scripts
	================================================== -->
	<script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
</head>
<body>

	<header id="header">
		<div class="container">
			<div class="sixteen columns clearfix">
				<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
				<ul class="nav">
					{% for page in pages %}
					<li><a href="{{ page.url }}">{{ page.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</header>

	<section id="content">
		<div class="container">
			<div class="sixteen columns">
				{{ content }}
			</div>
		</div>
	</section>
	
	<footer id="footer">
		<div class="container">
			<div class="sixteen columns">
				<a href="http://picocms.org/">Pico</a> was made by <a href="http://gilbert.pellegrom.me">Gilbert Pellegrom</a> 
				from <a href="http://dev7studios.com">Dev7studios</a>.
			</div>
		</div>
	</footer>
</body>
</html>
